<div class="card m-1 shadow-sm">
  <div class="d-flex">
    <div class="shadow-sm">
      <img [src]="ImageUrl" height="280" width="327" />
    </div>
    <div class="p-2 w-100">
      <div class="product-text">
        <h1 class="m-0">{{ Name }}</h1>
        <h2><small>por</small> {{ Trademark }}</h2>
      </div>
      <div class="d-flex justify-content-between h-100">
        <div class="ui-search-price ui-search-price--size-medium">
          <s>R$ 4.599</s>
          <h2 class="ui-search-price__second-line">R$ 3.989,05</h2>
          <mat-chip-option color="primary" [selectable]="false"
            >13% OFF no Pix</mat-chip-option
          >
        </div>
        <div class="d-flex justify-content-center align-items-center p-3">
          <button
            *ngIf="!Quantity"
            mat-raised-button
            color="primary"
            type="button"
          >
            <h2 class="m-0">buy now</h2>
          </button>
          <div *ngIf="Quantity" class="d-flex align-items-center gap-2">
            <button mat-fab color="primary"><h1 class="m-0">+</h1></button>
            <h1 class="m-0">{{ Quantity }}</h1>
            <button mat-fab color="primary"><h1 class="m-0">-</h1></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
